@media screen and (min-width: 40rem) {
	header nav ul{
		display: flex;
		justify-content: space-between;
	}

	body {
		display: grid;
		grid-template:
			"header header"  auto
			"sidebar main" auto
			"footer footer" auto
			/ 10rem auto;
	}
	
	header {
		grid-area: header;
	}

	aside {
		grid-area: sidebar;
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: footer;
	}
}


